node_modules
hibp-passwords-api/Cargo.lock
*.wasm
hibp-passwords-api/target/.rustc_info.json

*/target/*
*/*/Cargo.lock
*/Cargo.lock
*/*/.cargo/config
*/*/rust-toolchain.toml
*/*/package-lock.json
*/*/*.tar.gz
*/*/*/*.tag.gz

*/*/.gitignore
*/fastly.toml
*.backup
*.tfstate
*/.terraform
*/*/.terraform
*/.terraform.lock*
*/*/.terraform.lock*
*/.cargo/*
*/pkg/*
*/.gitignore
*/*/terraform.tfvars


*/rust-toolchain.toml
ERL-demos/terraform.tfvars
NGWAF-Deployment-Examples/ngwaf-edge-deply-with-existing-service/terraform.tfvars
NGWAF-Deployment-Examples/.DS_Store
.DS_Store
*.lock
NGWAF-Deployment-Examples/compute-with-ngwaf-edge-not-proxy/terraform.tfvars
NGWAF-Deployment-Examples/ngwaf-CloudWAF/terraform.tfvars
*.info

openapi-documentor/apiclarity/values.yaml
mtls/cert.pem
mtls/key.pem

NGWAF-Edge-enrichment-with-restart-and-Compute/service-compute/pkg/package.tar.gz
NGWAF-Deployment-Examples/NGWAF-Edge-enrichment-with-restart-and-Compute/service-compute/package-lock.json
*.gz
ObjectStorePlusSIEM/compute-webhook-receiver/target/*

*/package-lock.json
ObjectStorePlusSIEM/compute-basic-service/target/*
ato-demo/demo.sh
dynamic-backend/src/oauthworkflow/config.toml

# 3rd party integrations
*/*/*.sh
*/*/*.txt
*/*/*.bin
*/*/fastly.toml
*/*/*.pem
*/*/*.sha256
*/*/*.p12
*/*/*.zip
*/*/mtls_certs/*
*/*/certs/*
*/*/.cargo
*/*/src/*.pem
*/*/src/*.bin
*/*/src/*.txt
