node_modules
hibp-passwords-api/Cargo.lock
*.wasm
hibp-passwords-api/target/.rustc_info.json

*/target/*
*/*/Cargo.lock
*/Cargo.lock
*/*/.cargo/config
*/*/rust-toolchain.toml
*/*/.gitignore
*.backup
*.tfstate
*/.terraform
*/*/.terraform
*/.terraform.lock*
*/*/.terraform.lock*
*/.cargo/*
*/pkg/*
*/.gitignore


*/rust-toolchain.toml
ERL-demos/terraform.tfvars
NGWAF-Deployment-Examples/ngwaf-edge-deply-with-existing-service/terraform.tfvars
NGWAF-Deployment-Examples/.DS_Store
.DS_Store
*.lock
NGWAF-Deployment-Examples/compute-with-ngwaf-edge-not-proxy/terraform.tfvars
